<div class="home-container">
  <app-header></app-header>
  <div class="spacer"></div>
  <app-card-list></app-card-list>
  <div class="spacer"></div>
  <app-horizontal-cards></app-horizontal-cards>
  <div class="spacer"></div>
  <div class="signup-container">
    <h5>Create free account now</h5>
    <p>
      This will take a moment. You will be able to sign up using popular
      services like google or Facebook. Or you can create an account with your
      email
    </p>
    <a class="btn btn-primary" routerLink="signup">Sign Up</a>
  </div>
  <div class="spacer"></div>
</div>
