<footer>
  <div class="container">
    <section>
      <h5>About project</h5>
      <p>
        It’s my first big open source project. I created it for every person
        that like training and wants to track progress. Everything is free and
        if I can, I will let you do create unlimited workouts and data. If you
        want to help me with maintaining the server you can
        <a href="#"> donate here. </a>
        Thank you in advance.
      </p>
    </section>
    <section>
      <h5>You can be part of the project</h5>
      <p>
        If you want some feature or have problems with any part of the website
        please leave your feedback on
        <a href="https://github.com/Newerdim/Workout-Website">GitHub here.</a>
        Or you can contribute with your own code.
      </p>
    </section>
    <section>
      <h5>Navigation</h5>
      <ul class="nav">
        <li>
          <a routerLink="workout/start" routerLinkActive="active"
            >Start workout</a
          >
        </li>
        <li>
          <a routerLink="exercises" routerLinkActive="active">Exercises</a>
        </li>
        <li>
          <a routerLink="workouts" routerLinkActive="active">Workouts</a>
        </li>
        <li>
          <a routerLink="workouts/history" routerLinkActive="active"
            >Workouts History</a
          >
        </li>
        <li>
          <a routerLink="body-tracker" routerLinkActive="active"
            >Body Tracker</a
          >
        </li>
      </ul>
    </section>
  </div>
</footer>
