@import 'shadow';
@import 'border';

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    transition: all $transition-duration;

    @include padding-yx(2, 4);

    &:focus {
        outline: none;
        @include shadow-focus(color(dark));
    }

    &.small {
        @include padding-yx(1, 3);
    }

    &.big {
        @include padding-yx(3, 5);
    }

    @each $colorName, $value in get-all-colors() {
        // Default button
        &.btn-#{$colorName} {
            @include bg-and-text-color($colorName);

            &:hover,
            &:active {
                @include bg-and-text-color($colorName, dark);
            }

            &:focus {
                @include shadow-focus(color($colorName, light));
            }
        }

        // Outline button
        &.btn-outline-#{$colorName} {
            @include border(color($colorName));

            &:hover,
            &:active {
                @include bg-and-text-color($colorName);
            }

            &:focus {
                @include shadow-focus(color($colorName, light));
            }
        }
    }
    // Link button
    &.btn-link {
        @include padding-all(1);

        &:hover {
            color: color(primary);
        }

        &:focus {
            @include shadow-focus();
        }
    }
}
