$palette: (
    primary: #256cc9, 
    secondary: #211190,
    accent: #EABB1F,
    dark: #000, 
    light: #FFF,
    danger: #FF0000,
    success: #00FF00,
    warning: #ffd000,
    shadow: rgba(0, 0, 0, 0.2),
    border:  rgba(0, 0, 0, 0.2)
    );

$lightness: 12%;
$stronger-lightness: 25%;
$strongest-lightness: 40%;

@function color($name: primary, $tone: base) {
    @if map-has-key($palette, $name)
    {
        $color: map-get($palette, $name);

        @if $tone == "base" {
            @return $color;
        }
        @else if $tone == "dark" {
            @return darken($color, $lightness);
        }
        @else if $tone == "darken" {
            @return darken($color, $stronger-lightness);
        }
        @else if $tone == "darkest" {
            @return darken($color, $strongest-lightness);
        }
        @else if $tone == "light" {
            @return lighten($color, $lightness);
        }
        @else if $tone == "lighten" {
            @return lighten($color, $stronger-lightness);
        }
        @else if $tone == "lightest" {
            @return lighten($color, $strongest-lightness);
        }
        @else
        {
            @warn "Unknown tone: #{$tone}.";
        }
    }
    @else
    {
        @warn "Unknown color: #{$name}.";
    }
}

@function dark-or-light-color($color) {
    @return if(lightness($color) > 65, color(dark), color(light));
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@mixin bg-and-text-color($color) {
    background-color: $color;
    color: if(lightness($color) > 65, color(dark), color(light));
}

@mixin text-color-by-lightness($color) {
    color: if(lightness($color) > 65, color(dark), color(light));
}
