.form-group {
    position: relative;
    width: 100%;

    @include flex(st, s, c);

    &.horizontal {
        @include flex-direction();
    }

    label {
        @include flex(st, s, c);

        .form-control {
            border: 1px solid color(light, dark);
            transition: all $transition-duration;
            font-size: font-size();
            font-family: inherit;
            line-height: 1.2;
            width: 100%;

            @include bg-and-text-color(light, light);
            @include padding-yx(1, 2);
            @include flex(c, sb, r);

            &:focus,
            &:active {
                outline: none;
                border: 1px solid color(primary);
            }

            &::placeholder {
                color: inherit;
                text-transform: capitalize;
                opacity: 0.6;
            }
        }
    }

    .validation-error {
        color: color(danger, light);
        display: block;
        @include font-size(small);
    }

    select {
        cursor: pointer;
        padding-left: 0 !important; // Line up with label

        &:focus ~ label,
        &.active ~ label,
        & ~ label {
            @include padding-yx(0, 1);
        }

        option {
            background-color: color(light, light);
        }

        &.dark option {
            background-color: color(light, light);
        }
    }

    textarea {
        resize: none;
    }
}
