@import "shadow";
@import "spacing";

a {
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  color: inherit;

  @include padding-all(1);

  &:focus {
    outline: none;

    @include shadow-focus();
  }

  &:hover {
    color: color(primary);
  }
}
