$spacer: 1em;

$values: (
  0: 0,
  1: 0.25 * $spacer,
  2: 0.5 * $spacer,
  3: 1 * $spacer,
  4: 1.5 * $spacer,
  5: 3 * $spacer,
  6: 6.5 * $spacer,
  auto: auto,
);

@function space($number) {
  @if map-has-key($values, $number) {
    @return map-get($values, $number);
  }

  @return null;
}

@mixin padding($top, $right, $bottom, $left) {
  padding: space($top) space($right) space($bottom) space($left);
}

@mixin padding-x($number) {
  padding-right: space($number);
  padding-left: space($number);
}

@mixin padding-y($number) {
  padding-top: space($number);
  padding-bottom: space($number);
}

@mixin padding-yx($y, $x) {
  padding: space($y) space($x);
}

@mixin padding-all($number) {
  padding: space($number);
}

@mixin margin($top, $right, $bottom, $left) {
  margin: space($top) space($right) space($bottom) space($left);
}

@mixin margin-x($number) {
  margin-right: space($number);
  margin-left: space($number);
}

@mixin margin-y($number) {
  margin-top: space($number);
  margin-bottom: space($number);
}

@mixin margin-yx($y, $x) {
  margin: space($y) space($x);
}

@mixin margin-all($number) {
  margin: space($number);
}

.spacer {
  height: space(5);

  @include for-phone-up {
    height: space(6);
  }
}
