<div class="horizontal-cards-container">
  <div class="horizontal-card">
    <section class="image-container">
      <img src="assets/img/imgPlaceholderLandscape.png" alt="" />
    </section>
    <section class="card-text">
      <h3>Create your own workouts templates</h3>
      <p>
        Create unlimited amout of workout template. You can manage them any
        time. You can add, change and remove exerices from your workout. You
        will be able to set timer for every set and you will be notified if
        break is over.
      </p>
    </section>
  </div>
  <div class="horizontal-card flip">
    <section class="image-container">
      <img src="assets/img/imgPlaceholderLandscape.png" alt="" />
    </section>
    <section class="card-text">
      <h3>Track your body progress</h3>
      <p>
        Track your body weight and fat. Add measurement of your body parts and
        see what’s changes. You will be up to date with your progress.
      </p>
    </section>
  </div>
  <div class="horizontal-card">
    <section class="image-container">
      <img src="assets/img/imgPlaceholderLandscape.png" alt="" />
    </section>
    <section class="card-text">
      <h3>Summary of everything</h3>
      <p>
        Check summary of your workouts. You will see how many weights you lift
        and your PR. Also, you will be able to check body progress. Everything
        on transparent charts.
      </p>
    </section>
  </div>
</div>
